
@{
    ViewData["Title"] = "About";
}

<h1>About US</h1>
<p>
    This web Application was developed by <br />
        1. Selome Habtamu<br />
        2. Sidona Hadis<br />
        3. Simon G/hiwot<br />
        4. Yerom Paulos<br />
        5. Wubdil Israel

</p>
